extends indexLayout

block content
  .container
    .row
      .col-sm-6
        h3= title
        p Enter your emotional data below.
        input#moodNumber.form-control(style='margin-bottom:10px;', type='text', placeholder='My mood (from 1 to 7, 7 being excellent and 1 being bad)')
        div(style='margin-bottom:10px;')
          label(style='width:90px;display:inline-block') I am feeling:
          select#emotionalState.form-control(style='width:200px;display:inline-block')
            option(value='Depressed' selected='selected') Depressed
            option(value='Optimistic') Optimistic
            option(value='Bored') Bored
            option(value='Happy') Happy
        input#comment.form-control(style='margin-bottom:10px;', type='text', placeholder='My comment (optional)')
        button#send.btn.btn-lg.btn-primary(style='float:right;') Send
        div#status(style='display:none;')