doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.min.js')
  body
    block content
